<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mun9.orderdetail.mapper.OrderDetailMapper">
<insert id="insertOrderDetail" parameterType="orderlist">
	insert into orderdetail (order_no, pro_code, de_pro_cnt, de_pro_price)
	select ol.order_no, c.pro_code, c.mypro_cnt, c.pro_price*c.mypro_cnt
	from orderlist ol join cart c
	on ol.user_id = c.user_id
	where ol.user_id = #{userId} and ol.order_no = #{orderNo}
</insert>

</mapper>