<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mun9.orderdetail.mapper.OrderDetailMapper">
<insert id="insertOrder" parameterType="orderlist">
	insert into orderlist(order_no, order_date, user_id, order_recipient, order_addr, detail_addr, order_phone, total_price, delivery_fee, delivery_memo, order_status)
	values(order_no_seq.nextval, #{orderDate}, #{userId}, #{orderRecipient}, #{orderAddr}, #{detailAddr}, #{orderPhone}, #{totalPrice}, #{deliveryFee}, #{deliveryMemo}, #{orderStatus})
</insert>

</mapper>