<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mun9.orderdetail.mapper.OrderDetailMapper">
<insert id="insertOrderDetail" parameterType="orderdetailT" >
<![CDATA[
	insert into orderdetail(pro_code,order_no,de_pro_cnt,de_pro_price) values(#{proCode}, #{orderNo}, #{myproCnt}, #{deProPrice})
    ]]>
</insert>

<select id="selectOrderDetailList" resultType="orderdetailT" parameterType="int">
	select * from orderdetail where order_no = #{orderNo} order by 2
</select>

<select id="selectOrderResult">
	select o.pro_code proCode,o.order_no orderNo,o.de_pro_cnt deProCnt,o.de_pro_price deProPrice,p.pro_name proName 
	from orderdetail o,product p 
	where o.pro_code = p.pro_code 
		and order_no = (select Max(order_no) maxNo from orderdetail) 
		order by 1
</select>

<update id="adminOrderDetailMod" parameterType="orderdetailT">
	update orderdetail 
 	set de_pro_cnt = #{deProCnt}, de_pro_price = #{deProPrice}
 	where pro_code = #{proCode} and order_no = #{orderNo}
</update>

<delete id="adminOrderDetailDel" parameterType="orderdetailT">
	delete from orderdetail
	where pro_code = #{proCode} and order_no = #{orderNo}
</delete>

</mapper>