<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mun9.product.mapper.ProductMapper">
  
  <select id="getProductDetail" resultType="product" parameterType="int">
  	select * from product where pro_code = #{pcode}
  </select>
   
 <select id="productListPaging" resultType="product">
	select b.* from
	(select rownum rn, a.* from
	(select * from product
	<choose>
    <when test="category != null and category != ''">
    category = #{category}
    order by pro_sell
    <![CDATA[
	where b.rn > (#{page}-1)*9 and b.rn <= #{page}*9
    ]]>
    </when>
    
    <when test="proDiscount != null and proDiscount != '' and category == null or category == ''">
    pro_discount = #{proDiscount}
    order by pro_discount
    </when>
    
    </choose>
    ) a ) b
 </select>
 <select id="selectCount" resultType="int">
	select count(*) from product 
	<where>
    <if test="category != null and category != ''">
    category = #{category}
    </if>
    </where> 
	order by 1
 </select>
 
</mapper>