<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mun9.orderlist.mapper.OrderListMapper">

 	
 	
 	
  <resultMap id="selectDetailMap" type="orderlist">
   	<result property="orderNo" column="order_no"/>
 	<result property="orderDate" column="order_date"/>
 	
 	<result property="orderRecipient" column="order_recipient"/>
 	<result property="orderAddr" column="order_addr"/>
 	<result property="detailAddr" column="detail_addr"/>
 	<result property="orderPhone" column="order_phone"/>
 	<result property="userId" column="user_id"/>
 	<result property="totalPrice" column="total_price"/>
 	<result property="deliveryFee" column="delivery_fee"/>
 	<result property="deliveryMemo" column="delivery_memo"/>
 	<result property="orderStatus" column="order_status"/>
  
   <collection property="detailList" ofType="orderdetail">
  	 <result property="proCode" column="pro_code"/>
  	 <result property="proImage" column="pro_image"/>
  	 <result property="proName" column="pro_name"/>
  	 <result property="deProCnt" column="de_pro_cnt"/>
  	 <result property="deProPrice" column="de_pro_price"/>
  </collection>  
  </resultMap>
  
 <!-- 마이페이지(주문내역조회): 로그인아이디-최근주문순 -->
 <select id="selectMyOrderList" resultMap="selectDetailMap" parameterType="String">
 	select o.order_date, o.order_no, p.pro_image, p.pro_code, p.pro_name, od.de_pro_cnt, od.de_pro_price, o.total_price, o.order_status,
 	       o.order_recipient, o.order_phone, o.order_addr, o.detail_addr
	from orderlist o, product p, orderdetail od
	where o.order_no = od.order_no
	and od.pro_code = p.pro_code
	and user_id= #{userId} order by order_date desc
 </select>



 <update id="updateOrderList" parameterType="int">
  	update orderlist set order_status = '주문취소' where order_no = #{orderNo}
 </update>
 
</mapper>