<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mun9.orderlist.mapper.OrderListMapper">


<insert id="insertOrderList" parameterType="orderlist">
	insert into orderlist(order_no, order_date, user_id, order_recipient, order_addr, detail_addr, order_phone, total_price, delivery_fee, delivery_memo, order_status)
	values(order_no_seq.nextval, #{orderDate}, #{userId}, #{orderRecipient}, #{orderAddr}, #{detailAddr}, #{orderPhone}, #{totalPrice}, #{deliveryFee}, #{deliveryMemo}, #{orderStatus})
</insert>
 	
  <resultMap id="selectDetailMap" type="orderlist">
   	<result property="orderNo" column="order_no"/>
 	<result property="orderDate" column="order_date"/>
 	
 	<result property="orderRecipient" column="order_recipient"/>
 	<result property="orderAddr" column="order_addr"/>
 	<result property="detailAddr" column="detail_addr"/>
 	<result property="orderPhone" column="order_phone"/>
 	<result property="userId" column="user_id"/>
 	<result property="totalPrice" column="total_price"/>
 	<result property="deliveryFee" column="delivery_fee"/>
 	<result property="deliveryMemo" column="delivery_memo"/>
 	<result property="orderStatus" column="order_status"/>
  
   <collection property="detailList" ofType="orderdetail">
  	 <result property="proCode" column="pro_code"/>
  	 <result property="proImage" column="pro_image"/>
  	 <result property="proName" column="pro_name"/>
  	 <result property="deProCnt" column="de_pro_cnt"/>
  	 <result property="deProPrice" column="de_pro_price"/>
  </collection>  
  </resultMap>
  
 <!-- 마이페이지(주문내역조회): 로그인아이디-최근주문순 -->
 <select id="selectMyOrderList" resultMap="selectDetailMap" parameterType="String">
 	select o.order_date, o.order_no, p.pro_image, p.pro_code, p.pro_name, od.de_pro_cnt, od.de_pro_price, o.total_price, o.order_status,
 	       o.order_recipient, o.order_phone, o.order_addr, o.detail_addr, o.delivery_fee
	from orderlist o, product p, orderdetail od
	where o.order_no = od.order_no
	and od.pro_code = p.pro_code
	and user_id= #{userId} order by order_date desc
 </select>

 <update id="updateOrderList" parameterType="int">
  	update orderlist set order_status = '주문취소' where order_no = #{orderNo}
 </update>
 
   <select id="selectOrderReview" parameterType="String" resultType="int">
 	select count(order_no) count from orderlist where user_id = #{userId}
 </select>
 
 <select id="orderListsDe" resultType="orderlist">
 	select DISTINCT o.order_no from orderlist o,cart c where c.user_id = o.user_id and c.user_id=#{userId}
 </select>
 
 <select id="orderDetailBefore" resultType="orderdetailT" parameterType="orderdetailT">
 	select o.order_no orderNo, o.user_id userId, c.mypro_cnt myproCnt, c.pro_code proCode, c.pro_price myproPrice from orderlist o, cart c where c.user_id = o.user_id and o.user_id = #{userId} and o.order_no = #{orderNo}
 </select>
</mapper>