@charset "UTF-8";

*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	min-height: 100vh;
	background: -webkit-gradient(linear, left bottom, right top, from(#92b5db),
		to(#1d466c));
	background: -webkit-linear-gradient(bottom left, #fff6dd 0%, #fff6dd 100%);
	background: -moz-linear-gradient(bottom left, #fff6dd 0%, #fff6dd 100%);
	background: -o-linear-gradient(bottom left, #fff6dd 0%, #fff6dd 100%);
	background: linear-gradient(to top right, #fff6dd 0%, #fff6dd 100%);
	display: grid;
	place-content: center;
	padding: 50px;
}

section {
	width: 800px;
	display: flex;
	overflow: hidden;
	border-radius: 10px;
}

.img-logo {
	padding-bottom: 30px;
	text-align: center;
}

.input-form ul li {
	list-style: none;
	margin-bottom: 10px;
}

.ul-form {
	margin: 0;
}

.input-form {
	max-width: 680px;
	margin-top: 80px;
	padding: 30px;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

.sns-box {
	text-align: center;
	margin-bottom: 20px;
}

.sns-box a {
	margin: 16px;
}

.link-tag {
	text-align: center;
}
.modal-body .mr{
	margin-right: 10px;
}