<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mun9.member.mapper.MemberMapper">

	<select id="selectMember" resultType="member"
		parameterType="String">
		select * from member where
		user_id=#{userId} and
		user_pw=#{userPw}
	</select>
	
	<select id="selectId" resultType="String">
		select user_id
		from member
		where user_name = #{userName}
		and email = #{email}
	</select>
	
	<select id="selectPw" resultType="String">
		select user_pw
		from member
		where user_id = #{userId}
		and user_name = #{userName}
		and email = #{email}
	</select>

 	<insert id="insertMember" parameterType="member">
    	insert into member values (#{userId}, #{userPw}, #{userName}, 
    						  #{gender}, #{phoneNum}, #{email}, #{status})
 	</insert>
 
 	<!--정보수정 -->
 	<select id="selectInfo" resultType="member" parameterType="String">
 		select * from member where user_id=#{userId}
 	</select>
 	<update id="updateInfo" parameterType="member">
 		update member set  user_pw=#{userPw}, user_name=#{userName}, phone_num=#{phoneNum}, email=#{email} where user_id=#{userId}
 	</update>
 	<!--  -->
 	
 	<select id="selectList" resultType="member">
    	select * from member order by 1
 	</select>
 	
 	<delete id="deleteMember" parameterType="String">
 		delete from member where user_id=#{userId} and user_pw=#{userPw}
 	</delete>
 	
 	<select id="kakaoSelectMember" resultType="member" parameterType="String">
		select * from member where
		email=#{email} and user_name=#{userName}
	</select>
 
</mapper>