<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mun9.member.mapper.MemberMapper">
	<select id="selectMember" resultType="member"
		parameterType="String">
		select * from member where
		user_id=#{userId} and
		user_pw=#{userPw}
	</select>

	<!-- 회원등록기능 -->
	<insert id="insertMember" parameterType="member">
		insert into member values (#{userId}, #{userPw}, #{userName},
		#{gender}, #{phoneNum}, #{email}, #{status})
	</insert>

	<!-- 회원목록 -->
	<select id="selectList" resultType="member">
		select * from member order by 1
	</select>

	<delete id="deleteMember" parameterType="String">
		delete from member where user_id=#{userId} and user_pw=#{userPw}
	</delete>

	<select id="selectId" parameterType="String" resultType="String">
		select user_id
		from member
		where user_name = '#{userName}'
		and email = '#{email}'
	</select>

</mapper>