<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mun9.cart.mapper.CartMapper">

  <select id="selectCartList" resultType="cart" parameterType="String">
  		select p.pro_code,c.user_id,p.pro_image, p.pro_name, p.pro_price, p.pro_discount, c.mypro_cnt
		from cart c join product p
		on c.pro_code = p.pro_code
		where c.user_id = #{userId}
  	</select>

	<update id="changeCnt" parameterType="cart">
		update cart set mypro_cnt = #{myproCnt}
		where user_id = #{userId } and pro_code = #{proCode}	
	</update>

	<delete id="deleteCart" parameterType="cart">
		delete cart
		where user_id = #{userId } and pro_code= #{proCode}
		
	</delete>
	
	<select id="selectOneCart" parameterType="cart">
		select user_id, pro_code, mypro_cnt
		from cart
		where user_id = #{userId } and pro_code= #{proCode}
	</select>
	
	<select id="selectOneCart2" parameterType="cart">
		select user_id, pro_code, pro_price, pro_discount, mypro_cnt
		from cart
		where user_id = #{userId } and pro_code= #{proCode}
	</select>
	


	<insert id="addCarts" parameterType="cart">
		insert into cart values (mypro_no_seq.nextval,#{userId},#{proCode},#{proPrice},#{proDiscount},#{myproCnt})
	</insert>-->
	


	<update id="addCart" parameterType="cart">
	 MERGE INTO cart
	 USING dual
	 ON (user_id = #{userId } and pro_code = #{proCode})
	 when matched then update set mypro_cnt = #{myproCnt}
	 when not matched then insert ( mypro_no, user_id, pro_code, pro_price, pro_discount, mypro_cnt)
	    values(mypro_no_seq.nextval, #{userId }, #{proCode}, #{proPrice}, #{proDiscount}, #{myproCnt}); 
	</update>


	<select id="addCartCheck" parameterType="cart">
		select count(*) count from cart where user_id=#{userId} and pro_code=#{proCode}
	</select>
	
	<update id="setCartList" parameterType="cart">
		update cart set mypro_cnt = mypro_cnt + #{myproCnt}
		where user_id = #{userId} and pro_code = #{proCode}
	</update>
	
  <delete id="resetCartList" parameterType="String">
  	delete cart
  	where user_id= #{userId}
  </delete>

 
</mapper>