<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https:c:/mybatis-3-config.dtd">
  
  
  
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias alias="member" type="com.mun9.member.vo.MemberVO" /> 
		<typeAlias alias="product" type="com.mun9.product.vo.ProductVO" /> 
		<typeAlias alias="myproduct" type="com.mun9.myproduct.vo.MyProductVO" /> 
  	</typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="mun9nolza"/>
        <property name="password" value="0000"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
  	<mapper resource="com/mun9/member/mapper/MemberMapper.xml" />
  	<mapper resource="com/mun9/product/mapper/ProductMapper.xml" />
  	<mapper resource="com/mun9/cart/mapper/CartMapper.xml" />
  </mappers>
</configuration>