<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias alias="member" type="com.mun9.member.vo.MemberVO" /> 
		<typeAlias alias="product" type="com.mun9.product.vo.ProductVO" /> 
		<typeAlias alias="cart" type="com.mun9.cart.vo.CartVO" /> 
		<typeAlias alias="orderlist" type="com.mun9.orderlist.vo.OrderListVO" />
		<typeAlias alias="orderdetail" type="com.mun9.orderlist.vo.OrderDetailVO" />
		<typeAlias alias="orderdetailT" type="com.mun9.orderdetail.vo.OrderDetailVO" />
		 
		<typeAlias alias="inquire" type="com.mun9.inquire.vo.InquireVO" />
		<typeAlias alias="require" type="com.mun9.inquire.vo.InquireVO" />
		<typeAlias alias="banner" type="com.mun9.banner.vo.BannerVO" />
		<typeAlias alias="review" type="com.mun9.review.vo.ReviewVO" />
		<typeAlias alias="productimg" type="com.mun9.productimage.vo.ProductImageVO" />
		<typeAlias alias="review" type="com.mun9.review.vo.ReviewVO" />
  	</typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="mun9test"/>
        <property name="password" value="mun9test"/>


      </dataSource>
    </environment>
  </environments>
  <mappers>
  	<package name="com.mun9"/>
  </mappers>
</configuration>